@CHARSET "UTF-8";

body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 960px;
  height: 100%;
  margin: auto;
}

#header {
  height: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;  
}

.header_child { 
  float: left;
  padding-right: 10px;
}

.stats_table {
  border: 1px solid black;
  border-collapse:collapse;
  font-size : 15px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.stats_table td {
  border: 1px solid black;
}

.stats_table th {
  border: 1px solid black;
}
